<div 
class="navbar navbar-fixed-top">

<div 
class="navbar-inner">

<div 
class="container">

<button 
type="button"
class="btn btn-navbar"
data-toggle="collapse"
data-target=".nav-collapse">

<span 
class="icon-bar"></span>

<span 
class="icon-bar"></span>

<span 
class="icon-bar"></span>

</button>

<a 
href="http://www.shawu.edu/Academics/Department_of_Humanities.aspx?id=2377"
class="brand library-brand">Department of Humanities</a>

<span 
id="desktop-secondary-navigation"></span>

<a 
href="/"
class="brand app-brand">#myshawu</a>

<div 
class="nav-collapse collapse">

<ul 
class="nav">

<li><li
class=""><a
href="/">Recent</a></li></a></li>

<li><li><a
href="/images/popular">Popular</a></li></li>

<li><li><a
href="/images/staff_picks">Prof Picks</a></li></li>

</ul>

<ul 
class="nav">

<li 
class=""><li><a
href="/thisorthat/battle">Battle</a></li></li>

<li 
class=""><li
class="active"><a
href="/about">About</a></li></li>

</ul>

</div>

</div>

</div>

</div>

<section 
id="about"
class="wrapper">

<div 
class="grid">

<div 
class="well contribute grid-cell">

<h1>Participating in <span
class="projectname">#cloudpornharvester</span> is easy:</h1>

<ol>

<li>Take a photo of lovely clouds</li>

<li>Upload it to Instagram</li>

<li>Tag it #cloudporn</li>

<li>No comments possible alas</li>

<li>Go to <a
href="http://www.myshawuniversity.com/thisorthat/battle">myshawuniversity.com</a>
 and vote for your favorite photos</li>

<li>Stay tuned to <a
href="http://www.shawu.edu/">shawu.edu</a>
 to see who wins and takes home some exciting prizes!</li>

</ol>

<h1>About the Project</h1>

<p><span
class="tag-line">This was a lot of pain and agony to make</p>

<p>Something I made at DHSI!.</p>

<p>This is a DHSI project.</p><br/>

<p> Project Creator: Siobhan McElduff</p>

<p>Questions? Email: 
mcelduff[at]gmail.com</p> 

</div>

</div>

</section>
